<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.google_analytics}}');
  </script>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="keywords" content="{{ page.categories }}">

  <!-- Favicons: https://realfavicongenerator.net -->
  <link rel="icon" type="image/png" href="{{ page.favicon | prepend:site.baseurl }}/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ page.favicon | prepend:site.baseurl }}/favicon.svg" />
  <link rel="shortcut icon" href="{{ page.favicon | prepend:site.baseurl }}/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ page.favicon | prepend:site.baseurl }}/apple-touch-icon.png" />
  <link rel="manifest" href="{{ page.favicon | prepend:site.baseurl }}/site.webmanifest" />

  <title>{{ page.urltitle }}</title>
  <meta name="description" content="{{site.description}}">

  <!--Open Graph Related Stuff-->
  <meta property="og:title" content="Human-Robot Contact and Manipulation"/>
  <meta property="og:url" content="https://hrcm-hri.github.io/2025"/>
  <meta property="og:description" content="{{site.description}}"/>
  <meta property="og:site_name" content="Human-Robot Contact and Manipulation"/>
  <meta property="og:image" content=""/>
  <meta property="og:image:url" content=""/>

  <!-- CSS  -->
  <link rel="stylesheet" type="text/css" href="{{ "/2025/css/bootstrap.min.css" | prepend:site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/2025/css/main.css?2" | prepend:site.baseurl }}" media="screen,projection">

  <!-- Font Awesome -->
  <script src="{{ "/static/js/jquery.min.js?1" | prepend:site.baseurl }}"></script>
  <script src="https://kit.fontawesome.com/9e7d888dfb.js" crossorigin="anonymous"></script>
  <script src="{{ "/static/js/moment.min.js?1" | prepend:site.baseurl }}"></script>
  <script src="{{ "/static/js/main.js?2" | prepend:site.baseurl }}"></script>
</head>
